name: Lint
on: push
jobs:
    lint:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: "22"

            - name: Install dependencies
              run: npm install

            - name: Run linter
              run: npm run lint
